@charset 'utf-8';
@import 'reset.scss';

.btnDel{
  display: inline-block;
  padding: 10px 20px; 
  margin: 20px;
  background: #02343F;
  color: #F0EDCC;
  font: 20px/1 '맑은 고딕';
  border-radius: 20px;
}

.btnView{
  display: inline-block;
  padding: 10px 20px; 
  margin-right: 20px;
  background: #02343F;
  color: #F0EDCC;
  font: 20px/1 '맑은 고딕';
  border-radius: 20px;
}

#popup{
  width: 500px; padding: 40px;
  background: #F0EDCC;
  margin: 0 auto;
  position: relative;

  .content{

    width: 100%; min-height: 300px;
    color: #02343F;
    font-size: 30px;
    }
    .wrap{
      display: inline-flex; align-items: center;

      input{
      margin-right: 10px;
      }
      label{
      color: #02343F;
      }
    }
    .popDel{
      position: absolute;
      bottom: 30px; right: 30px;
      color: #02343F;
    }
}